.App {
  min-height: 100vh;
  background-color: #f3f1f5;
  text-align: center;
  padding: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#video-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

#video-wrapper > video {
  width: 100%;
  max-height: 480px;
  max-width: 640px;
  background: #ffffff;
  padding: 10px;
  border-radius: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
